@{
    ViewData["Title"] = "Info";
}
<div style=" text-align:left;margin:25px; ">
    So, here will be the description of this proj.:<br />
    the project is done with ASP.NET core, cuz idk what else to use for c#.<br /><br />

    Sign up: creates a user in the SQL data base, by the structure:USERNAME|PASSWORD-HASH(md5)<br />
    Log in: reads the username and password. Hashes the given password. Compares the input to the existing usernames and hashes of passwords.<br />
    If the username/password doesnt match, outputs an appropriate error pop-up window.<br />
    Forgot password?(b): sends the user to the page with a line for the email. after the button pressed the mail with the temporary password(actually just the Hash) will be sent.<br /><br />
    

    Кнопка+страница 'Home' сделанна не на "отъебись", а на "пошёл нахуй".
</div>